
.link{
  color: #333;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;

  &:hover{
    opacity: 0.75;
  }

  &.active{
    color: #000;
    text-decoration: underline;
  }
}



.app-layout {

  flex-grow: 1;

  .grow {
    flex-grow: 1;
  }

  .menu-button {
    margin-left: -12vh;
    margin-right: 20vh;
  }

}

.areas-paper {
  width: 50%;
  overflow-x: auto;

}

.areas-table {
  min-width: 700px;
}